<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>User List</title>
</head>
<body>
<h2>User List</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td><a th:href="@{'/users/' + ${user.id} + '/edit'}">Edit</a></td>
        <td><a th:href="@{'/users/delete/' + ${user.id}}">Delete</a></td>
    </tr>
    </tbody>
</table>
<a href="/users/add">Add User</a>
</body>
</html>